[Desktop Entry]
Encoding=UTF-8
Name=WmIfs
Comment=Network Monitor
Comment[pl]=Monitor Sieci
Exec=wmifs
Terminal=false
Type=Application
# vi: encoding=utf-8
